@import '../main-styles.scss';

.budget-item-section {
    display: flex;
    padding: 50px;

    //Horizontall and vertically center flex children 
    justify-content: center;
    align-items: center;
    
    .budget-item-container {
        display: flex;
        max-width: 680;
        height: 100%;
        width: 100%;

        .income-column, .expenses-column {
            display: flex;
            flex-direction: column;
            flex-basis: 0; // for the colums to be the same size, regardless of the content
            flex-grow: 1

            h1 {
                font-family: 'Lato';
                font-size: 24px;
                font-weight: 900;
                text-transform: uppercase;
            }
        }
    }
}